MONGODB_URL=mongodb://<username>:<password>@127.0.0.1:27017/fit-quest
PORT=3000
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=30d
ADMIN_USERNAME=your_admin_username
ADMIN_EMAIL=your_admin_email
ADMIN_USERID=your_admin_userid